examples/example-flow.json
[
	{
		"id": "22ff5fde.22e09",
		"type": "tab",
		"label": "Butter Example Flow",
		"disabled": false,
		"info": "**# Hi There !**\n### Thx for using the Butter extension for Node-Red.\n\nWe have prepared a basic usage example for you.\nLook at the comment nodes to understand the examples better.\n\n_enjoy :)_"
	},
	{
		"id": "7bdfead0.26b9f4",
		"type": "inject",
		"z": "22ff5fde.22e09",
		"name": "inject",
		"props": [ { "p": "payload" }, { "p": "topic", "vt": "str" } ],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "",
		"payloadType": "str",
		"x": 130,
		"y": 188,
		"wires": [ [ "cb621c65.84f9a" ] ]
	},
	{
		"id": "cb621c65.84f9a",
		"type": "play-animation",
		"z": "22ff5fde.22e09",
		"name": "play-animation",
		"robotIp": "192.168.57.34",
		"animationName": "Welcome_New",
		"debugMode": true,
		"x": 360,
		"y": 188,
		"wires": [ [] ]
	},
	{
		"id": "1c62aa18.c7ace6",
		"type": "inject",
		"z": "22ff5fde.22e09",
		"name": "",
		"props": [ { "p": "payload" }, { "p": "topic", "vt": "str" } ],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "",
		"payloadType": "str",
		"x": 130,
		"y": 560,
		"wires": [ [ "979e5182.94371" ] ]
	},
	{
		"id": "979e5182.94371",
		"type": "set-motor-register",
		"z": "22ff5fde.22e09",
		"name": "set-motor-register",
		"robotIp": "192.168.57.34",
		"motorName": "turnone",
		"registerName": "moving-speed",
		"value": "0",
		"debugMode": true,
		"x": 370,
		"y": 560,
		"wires": [ [ "cad62f92.e9375" ] ]
	},
	{
		"id": "cad62f92.e9375",
		"type": "set-motor-register",
		"z": "22ff5fde.22e09",
		"name": "set-motor-register",
		"robotIp": "0.0.0.0",
		"motorName": "turnone",
		"registerName": "goal-position",
		"value": "2000",
		"debugMode": false,
		"x": 630,
		"y": 560,
		"wires": [ [] ]
	},
	{
		"id": "784d08da.fc6b08",
		"type": "comment",
		"z": "22ff5fde.22e09",
		"name": "Connect an inject node the play-animation to run an animation on the robot",
		"info": "Double click the animation node to learn more about it.",
		"x": 340,
		"y": 128,
		"wires": []
	},
	{
		"id": "d391f11a.70894",
		"type": "comment",
		"z": "22ff5fde.22e09",
		"name": "Do the same with set-motor-register to change your specified motor register value ",
		"info": "Double click the set motor register node to learn more about it.",
		"x": 360,
		"y": 380,
		"wires": []
	},
	{
		"id": "b362a60c.6762a8",
		"type": "comment",
		"z": "22ff5fde.22e09",
		"name": "Chain nodes together to make a more complicated behavior",
		"info": "In this example, the first set-motor-register node sets the motor's speed to be 0 (max speed).\nThe second node immediately sets the goal position to 2000, effectively moving the motor to position 2000 in maximum speed !",
		"x": 300,
		"y": 500,
		"wires": []
	},
	{
		"id": "4a228d2b.21f5b4",
		"type": "inject",
		"z": "22ff5fde.22e09",
		"name": "inject",
		"props": [ { "p": "payload" }, { "p": "topic", "vt": "str" } ],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"x": 130,
		"y": 440,
		"wires": [ [ "1fcb070.04addf9" ] ]
	},
	{
		"id": "1fcb070.04addf9",
		"type": "set-motor-register",
		"z": "22ff5fde.22e09",
		"name": "set-motor-register",
		"robotIp": "192.168.57.30",
		"motorName": "bottom",
		"registerName": "goal-position",
		"value": "2000",
		"debugMode": true,
		"x": 370,
		"y": 440,
		"wires": [ [] ]
	},
	{
		"id": "83e16f72.df2a2",
		"type": "comment",
		"z": "22ff5fde.22e09",
		"name": "Welcome to Butter Node Red Plugin !",
		"info": "",
		"x": 350,
		"y": 60,
		"wires": []
	},
	{
		"id": "750dc4a8.0d297c",
		"type": "comment",
		"z": "22ff5fde.22e09",
		"name": "",
		"info": "",
		"x": 140,
		"y": 620,
		"wires": []
	},
	{
		"id": "8a088e72.32769",
		"type": "inject",
		"z": "22ff5fde.22e09",
		"name": "",
		"props": [ { "p": "payload" }, { "p": "topic", "vt": "str" } ],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"x": 140,
		"y": 320,
		"wires": [ [ "7e405d03.0c9084" ] ]
	},
	{
		"id": "7e405d03.0c9084",
		"type": "get-motor-register",
		"z": "22ff5fde.22e09",
		"name": "get-motor-register",
		"robotIp": "192.168.57.30",
		"motorName": "asdf",
		"registerName": "present-position",
		"debugMode": true,
		"x": 370,
		"y": 320,
		"wires": [ [] ]
	},
	{
		"id": "6c2e2731.60eec8",
		"type": "comment",
		"z": "22ff5fde.22e09",
		"name": "Do the same with set-motor-register to get the value of a motor register ",
		"info": "",
		"x": 330,
		"y": 260,
		"wires": []
	}
]
